ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}




html {
    scroll-behavior: smooth;
    background-color: whitesmoke;
  }

  h1{
      text-align: center;
      font-family: cursive;
      
  }

  h4{
      text-align:center;
  }

  
  img {
    width: 70%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;

  }

  p {
      text-align: center;
      word-wrap: normal;
      font-size: large;
      font-style: italic;
  }

  h3{
    font-family: 'Brittany Signature', sans-serif;
     font-size:larger;
     text-align: right;                                          
  }

  .image1{
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    
  }

  