body {
    background-color: #A52A2A

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px solid;
  border-color: chocolate;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFFFF0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #DEB887;
}

.title {
  text-align: center;
  font-size: 45pt;
  margin-top: 5%;
  background-color: #A0522D;
  border: 2px solid;
  border-color: cornsilk;

}

img {
    width: 100%;
    border: solid;
    color: #f2dca6;
    margin-bottom: 10%;

}


h1, h2, h3, h4, p, li {
    font-family: cursive; 
    color: #FFFFF0

}

h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
  font-size: 40pt;
}

h3 {
  text-align: center;
  font-size: 25pt;
}

h4 {
  font-size: 20pt;
  margin-top: 2%;

}


.pathway {
    border: 2px solid;
    border-color: #f2dca6;
    margin-bottom: 5%;
    
}

#mussels {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.pairings {
  border: 2px solid;
  border-color: #f2dca6;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 5%;
}


.quick_review {
  border: 2px solid;
  border-color: #f2dca6;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%;
  
}

.best {
  border: 2px solid;
  border-color: #f2dca6;
  margin-bottom: 5%;
}

.moments {
  border: 2px solid;
  border-color: #f2dca6;
  margin-bottom: 5%;
}


.info {
  border: 2px solid;
  border-color: #f2dca6;
  text-align: center;
}

.case {
  font-size: 40pt;
}


footer {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;

}